{% extends "base.html" %}
{% block title %}
{{member.username}}.profile
{% endblock %}
{% block content %}
<br>
<h1 class="fancy">{{member.username}}</h1>
<br>
Signature: {{profile.signature}}<br>
<table>
    {% for forumpost  in member.forumpost_set.all %}
    <tr>
        <td>
            {{forumpost.body}} - from <a href="/forum/{{forumpost.thread.category.slug}}/{{forumpost.thread.slug}}/">{{forumpost.thread}}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
