{% extends "base.html" %}
{% block title %}Wiki{% endblock %}
{% block full_content %}
<div class="grid_12" id="content">
    <div class="wiki_sidebar grid_2">
        <p style="border-bottom: 1px solid #4b6130;">
        {% block sidebar %}
            Main Page
        {% endblock %}
        </p>
        <form method="post" action="/wiki/search/" class="searchbox">
            <input type="text" size="17" name="search" id="s"></input>
            <input type="image" id='go' src='/site_media/search-button.png'></input>
        <script type="text/javascript">
            $('input').focus(function(){
                $(this).parent().addClass('searchfocus');
            }).blur(function(){
                 $(this).parent().removeClass('searchfocus');
            });
		</script>
        </form> 
    </div>
    {% block edit_tabs %}
    {% endblock %}
    <div class="wiki_content grid_9">
        <p><span class="fancy"><span class="s1">{% block page_title %}Main page{% endblock %}</span></span></p>
    {% block wiki_content %}
    <span class="t3">Recent Activity</span>
    <ul>
    {% for page in freshest_pages %}
        <li>
        <a href="/wiki/{{page.slug}}/">{{page.title}}</a> -- edited by {{page.edits.latest.editor}} on {{page.edits.latest.pub_date}}
        </li>
    {% endfor %}
    </ul>
    {% endblock %}
    </div>
</div>
{% endblock %}
