<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="/site_media/style.css" />
        <title>{% block title %}the hackening.com{% endblock %}</title>
    </head>

    <body>
        <div class="container_12">
            <div class="grid_12" id="header">
                {% block header %}

                <h1>//The Hackening</h1>
                <div class="prefix_10">
                    <a href="/">Home</a>
                    <a href="/blog/">Blog</a>
                </div>
                {% endblock %}
            </div>

            <div class="grid_10 prefix_1 suffix_1" id="content">
                {% block content %}{% endblock %}
            </div>
            <div class="grid_2 prefix_10" id="footer">
                <p>
                created by mike d.
                </p>
            </div>
        </div>
    </body>
</html>

